[submodule "OneCore-1.0/libs/LibItemSearch-1.2"]
	path = OneCore-1.0/libs/LibItemSearch-1.2
	url = git@github.com:Jaliborc/LibItemSearch-1.2.git
[submodule "OneCore-1.0/libs/Unfit-1.0"]
	path = OneCore-1.0/libs/Unfit-1.0
	url = git@github.com:Jaliborc/Unfit-1.0.git
[submodule "OneCore-1.0/libs/CustomSearch-1.0"]
	path = OneCore-1.0/libs/CustomSearch-1.0
	url = git@github.com:Jaliborc/CustomSearch-1.0.git
